{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": "./",
        "alias": {
          "@services": "./services",
          "@stores": "./stores",
          "@components": "./components",
          "@hooks": "./hooks",
          "@constants": "./constants",
          "@helpers": "./helpers",
          "@plugins": "./components/Editor/plugins",
          "@contexts": "./contexts",
          "@routes": "./constants/routes",
          "@models": "./models"
        }
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}